html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 2rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-top: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

section {
  text-align: center;
  padding: .2rem;
}

div {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  padding: .75rem 1rem;
}

img {
  display: block;
  width: 100%;
}

.button {
  color:#333
  border: 3px solid #333
  border-radius: 9px;
  display: inline-block;
  font-size: 1.1rem;
  padding: .5em .75em
}

.button:hover {
  color: #eee9de;
  background-color: #666
  border: 3px solid #666
}
